.createTask {
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;

  &__inputs {
    display: flex;
    flex-direction: column;
    textarea {
      height: 50px;
    }
  }
  &__buttons {
    display: flex;
    gap: 10px;
    .active {
      background-color: yellow;
    }
  }
  &__selects {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 100%;
    &-item {
      margin: 0 auto;
      width: 30%; // Применить стили к контейнеру Select
    }
  }
  &__inOutData {
    &-add {
      display: flex;
      flex-direction: row;
    }
  }
}
